{% extends "base.html" %} {% block title %}Alcoa • PDF Processor{% endblock %}
{% block content %}

<main class="page">
  <section class="hero">
    <h1 style="font-size: 36px;">Convert Your Packing Lists Instantly</h1>
    <p style="font-size: 22px;">
      Upload Alcoa or partner PDFs and get clean, ready-to-use CSV files in
      seconds.
    </p>
    <p><a class="btn-primary" href="home.html">Start Uploading</a></p>
    <img
      src="{{ url_for('static', filename='xcel.svg') }}"
      alt="PDF to Excel conversion illustration"
      class="image"
    />
  </section>
</main>


{% endblock %}
